html, body{
    height: 100%;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    height: 15%;
    padding-top: 25px;
    background-color: #ecf0f1;
    box-sizing: border-box;
}
.header h1{
    text-align: center;
    margin: 0;
}
.fas, .far{
    font-size: 200px;
    color: #4e54c8;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to top, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to top, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 
.instructions-container {
    position: relative;
    height: 85%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #4e54c8;
}